/* 页脚透明 */
#footer {
	background: transparent !important;
}
/* 页脚黑色透明玻璃效果移除 */
#footer::before {
	background: transparent !important;
}

/*页脚透明度调整*/
#footer {
	opacity: 0.9;
}
/* 页脚透明 */
#footer {
	background: transparent !important;
}
/* 页脚黑色透明玻璃效果移除 */
#footer::before {
	background: transparent !important;
}
/* 头图透明 */
#page-header {
	background: transparent !important;
}
/* 头图遮罩层透明 */
#page-header::before {
	background: transparent !important;
}
/*top-img黑色透明玻璃效果 */
#page-header.post-bg:before {
	background-color: transparent !important;
}

/* 导航栏间距调整 */
#nav .menus_items .menus_item {
	padding: 0 0 0 30px;
}
